body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #ff9a9e, #fad0c4);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background: white;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  width: 85%;
  max-width: 350px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

h1 {
  color: #ff4d6d;
}

p {
  color: #444;
  font-size: 16px;
}

button {
  margin-top: 15px;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  background: #ff4
